#header {
  background: #161616c4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aaa8a8;
  padding: 24px 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;  
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
}


.menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    background: #363635c4;
    padding-bottom: 20px;
  }
  
  .menu-btn {
    display: inline-block;
  }

  .menu-toggle:checked~.nav-links {
    display: flex;
  }
}