

/* Reusable Styles */
@import "button.css";


/* Section Styles */
@import "navbar.css";
@import "hero-banner.css";
@import "contact.css";
@import "submission.css";
@import "footer.css";
@import "project.css";
@import "aboutme.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  
}